/* Колір основного тексту #212121, 100% */
/* другорядний колір тексту #757575, 100% */
/* Білий колір #FFFFFF */
/* Акцент #2196F3; */

/* Кольори адреси в футері #FFFFFF;
rgba(255, 255, 255, 0.6);*/

/* другорядний колір фону background: #F5F4FA;
 */
/* Загальні стилі */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

/* Фон та колір основного тексту */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Прибираємо кільця в списку */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Logo */
.header-logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
  margin-left: 0 auto;
  margin-right: 93px;

  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent);
}

.accent {
  color: var(--accent);
}

/* Навігація в шапці */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent);
}

/* Підсвічування поточної сторінки */
.current {
  color: var(--accent);
}

.contact {
  display: flex;
  margin-left: auto;
}

/* Псевдокласс соседа - даётся только между соседом */
.contact .item + .item {
  margin-left: 50px;
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent);
}

/* Стилі для index.html */
/* Hero */
.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.hero-button {
  color: var(--primary-bg-color);
  background-color: var(--accent);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
}

.hero-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* центрируем через родительский элемент 
секциию hero(все элементы внутри приймут text-align:center)  */
.hero {
  text-align: center;
}
/* Features */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Приклади та команда мають однакові параметри, 
section-title - універсальний клас для h2 */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.example {
  padding-bottom: 94px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
}

/* Футер */
.footer-logo {
  color: var(--primary-bg-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
/* Стилі для Portfolio.html */
/* Button */

.filters-section {
  padding-top: 94px;
}

.filters {
  display: flex;
  justify-content: center;
}

.filters-button {
  /* display: flex; */
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  margin-left: 8px;
  margin-bottom: 50px;
}
.filters-button:hover,
.filters-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-link {
  text-decoration: none;
}
.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Footer address */
.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  text-decoration: none;
  color: var(--primary-bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  display: block;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent);
}

.footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent);
}

/* Колір секції в index.html */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
.works {
  background-color: #f5f4fa;
}

.team {
  background-color: var(--secondary-bg-color);
}

/* CONTAINER */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.header-wrap {
  display: flex;
  align-items: center;
  margin: auto;
}
